@model LTE.Web.ViewModels.Customer.CustomerSearchViewModel
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/plugins/select2/select2.full.min.js"></script>
<script src="~/Content/js/pages/customer/customer.js"></script>

<div class="content-header">
    <h1>
        Customers
        <small>Manage customer</small>
    </h1>
</div>
<div class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <form class="form-horizontal" id="searchForm">
                    <div class="box-body">
                        <div class="col-md-5">
                            <div class="form-group">
                                @Html.LabelFor(m => m.SearchEmail, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.SearchEmail, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.SearchFristName, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.SearchFristName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.SearchLastName, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.SearchLastName, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                @Html.LabelFor(m => m.SearchCompany, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.SearchCompany, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.SearchCustomerRoles, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.SearchCustomerRoles, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">Multiple</label>
                                <div class="col-md-8">
                                    <select class="form-control select2 col-md-8" multiple="multiple" data-placeholder="Select a State">
                                        <option>Alabama</option>
                                        <option>Alaska</option>
                                        <option>California</option>
                                        <option>Delaware</option>
                                        <option>Tennessee</option>
                                        <option>Texas</option>
                                        <option>Washington</option>
                                    </select>
                                </div>
                             
                            </div>

                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="col-md-2 col-md-offset-5">
                            <button class="btn btn-primary btn-lg btn-block" id="btnSearch" type="submit">Search</button>
                        </div>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>

    <div id="customers-grid">
        
    </div>

    <div id="ajax-loading" class="ajax-loading">

    </div>
</div>



<script>
    $(function () {
        $(".select2").select2();
    });
</script>