@model LTE.Web.ViewModels.Customer.CustomerSearchViewModel
@{
    ViewBag.Title = "Index";
}
<div class="content-header">
    <h1>
        Customers
        <small>Manage customer</small>
    </h1>
</div>
<div class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <form class="form-horizontal" id="searchForm">
                    <div class="box-body">
                        <div class="col-md-5">
                            <div class="form-group">
                                @Html.LabelFor(m => m.SearchEmail, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.SearchEmail, new { @class = "form-control" })
                                    @*@Html.ValidationMessageFor(m=>m.SearchEmail)*@
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.SearchFristName, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.SearchFristName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.SearchLastName, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.SearchLastName, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                @Html.LabelFor(m => m.SearchCompany, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.SearchCompany, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.SearchCustomerRoles, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.SearchCustomerRoles, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="col-md-2 col-md-offset-5">
                            <button class="btn btn-primary btn-lg btn-block" id="btnSearch" type="submit">Search</button>
                        </div>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>

    <div class="row" id="customers-grid">

    </div>

    <div id="loading-ajax">

    </div>
</div>


<script>
    $(document).ready(function () {
        $("".concat("#SearchEmail,", "#SearchFristName,", "#SearchLastName")).keydown(function (event) {
            if (event.keyCode === 13) {
                GetCustomerList(1);
            }
        });

        $(document).ajaxStart(function () {
            //alert("...on loading");
        });

        $("#searchForm").submit(function (event) {
            GetCustomerList(1);
            event.preventDefault();
        });

        function GetCustomerList(page) {
            var searchData = $("#searchForm").serializeObject();
            searchData.Page = page;
            console.log(searchData);
            $.ajax({
                type: "POST",
                url: lte.Urls.GetCustomerListUrl,
                data: searchData,
                dataType: "html",
                success: function (response) {
                    $("#customers-grid").html(response);
                }
            });
        }
    });
</script>


