@model LTE.Web.ViewModels.Customer.ApplicationRoleViewModel
@using LTE.Web.Utilities
@{
    ViewBag.Title = "Edit user role detail - " + Model.Name;
}

<div class="content-header">
    <h1>
        Edit user role
        <small>@ViewBag.Description</small>
    </h1>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title" style="">@Model.Name<br></h3>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger pull-right" data-toggle="modal"
                            data-target="#userRoleDeleteConfirmation" data-whatever="Role10">
                        Delete role
                    </button>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("Edit", "UserRole", null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Role name" })
                                @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @placeholder = "Role description" })
                                @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Is system role</label>
                            <div class="col-sm-10">
                                <label class="control-label">@Model.IsSytemRole.ToString()</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2">
                                @Html.ValidationSummary(true, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a class="btn btn-info" href="@Url.Action("Index","UserRole")">Back</a>
                    </div>
                }
            </div>
        </div>
    </div>

</div>


@Html.DeleteConfirmation("userRoleDeleteConfirmation")

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

        });

        $('#myModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var recipent = button.data('whatever'); // Extract info from data-* attributes
            var modal = $(this);
            modal.find(this)
            //modal.find('.modal-title').text('Delete role: ' + recipent + '?')
            //modal.find('.modal-body span').text('Do you want to delete role: ' + recipent);
        });
    </script>
}
